
body{
    margin: 0px;
    font-family: 'Chewy', cursive;
}

h1{
    background-color: rgb(20, 55, 67);
    text-align: center;
    color: rgb(0, 188, 251);
    padding: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}



#statusMessage{
    text-align: center;
    color: lightseagreen;
    font-family: 'Chewy', cursive;
    font-size: 1.5rem;

}

.col{
    justify-content: center;
    width: auto;
    display: flex;   
}
.gameBox{
    width: auto;
    background-color: lightseagreen;
    height: 383px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0;
    font-size: 50px;
    text-align: center;
    line-height: 100px;
    cursor: pointer;
    margin-bottom: 10px;
}


[data-index]{
    border: 1px solid black;
    width: 8rem;
    color: aliceblue;
    height: 8rem;
    
}
.scoreBoard{
    display: flex;
    justify-content: center;
    padding: 0px;
    margin-bottom: 10px;

}

.playerOneScoreBoard, .playerTwoScoreBoard{
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    background-color: lightseagreen;
    width: 180px;
    margin-left: 24px;
}


.name1, .name2{
    font-size: 1.2rem;
    font-family: 'Chewy', cursive;
    border-bottom: 1px solid black;
    display: block;
}
.score1, .score2{
    font-size: 1.8rem;
    font: bold;
    font-family: 'Chewy', cursive;

}

.btnOption{
    display: flex;
    justify-content: center;
    
}

#btnRows{
    display: flex;
    justify-content: center;
}

#resetScores{
    background-color: lightseagreen;
    color: black;
    font-family: 'Chewy', cursive;
    width: 30%;
    margin-left: 21px;

}

.cell{
    transition: background-color 0.5s ease;
    font-family: 'Chewy', cursive;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Modal background */
  }
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Adjusted width */
    max-width: 500px; /* Ensure it doesn't get too wide */
  }

 

  .btn-check{
    margin: 10px;

  }

  label {
    display: block;
    margin: 10px 0 5px;
  }
  

 
  .quickMenuBtn{
    display: flex;
    justify-content: center;
    
  }

  .quickMenuBtn button{
    margin: 10px;
  }

  .playerOneForm, .playerTwoForm{
    display: flex;
    
  }

  #player1Name, #player2Name{
    width: 350px;
    margin: 5px;
    height: 40px;
  }

  .formBtn{
    display: flex;
    justify-content: flex-end;
    padding: 7px;
  }

  .formBtn button{
    margin: 10px;
  }

  #player1MarkerX, #player1MarkerO{
    margin: 10px;
  }